---
- hosts: all
  become: yes
  tasks:
  - apt:
      name: nginx
      state: present
  - name: Start nginx
    service:
      name: nginx
      state: started


  - copy:
      src: /tmp/test
      dest: /tmp/test2
